[Unit]
Description=Insinyur Radius Service
Requires=local-fs.target
After=mysqld.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/ir/ir

[Install]
WantedBy=default.target
